@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

/* color palette */
:root {
  --vt-c-dark-midnight: #171933;
  --vt-c-dark-midnight-muted: #2c2e63;
  --vt-c-light-blue: #ebf1ff;
  --vt-c-lime: #c9e874;
  --vt-c-lime-hover: #cfff33;
  --vt-c-grey-velvet: #6e6d7a;
  --vt-c-light-grey: #b5b4bb;
  --vt-c-white: #ffffff;
  --vt-c-black: #000000;
  --vt-c-light-indigo: #667eea;
  --vt-c-red: #e74c3c;
  --vt-c-red-hover: #de2f1b;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-dark-midnight);
  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);
  --color-text: var(--vt-c-light-blue);
  --color-text-on-light: var(--vt-c-black);

  --section-gap: 160px;
}

/* Global styles  and reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  line-height: 1.6;
  background-color: var(--color-background);
  color: var(--color-text);
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
